* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  outline: 0;
}

html {
  height: 100%;
}

body {
  background: #2a2a34;
  height: 100%;
}

.preoloader {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.preoloader__container {
  flex-wrap: wrap;
  align-items: start;
  gap: 4px;
  position: relative;
  left: -10px;
  top: -45px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.preoloader__container::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0%;
  left: 50%;
  width: 25px;
  height: 25px;
  background: #dab635;
  opacity: 0.9;
  border-radius: 50%;
  animation: aroundAnimation 1s linear infinite;
}

.preoloader__container::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 25px;
  height: 25px;
  background: #359bda;
  opacity: 0.9;
  border-radius: 50%;
  animation: aroundAnimation 2s linear infinite;
}

.circle {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 50%;
  background: #a93535;
  opacity: 0.9;
  border-radius: 50%;
  animation: aroundAnimation 6s linear infinite;
}

@keyframes aroundAnimation {
  3.57% {
    top: 2%;
    left: 60%;
  }

  7.14% {
    top: 5%;
    left: 70%;
  }

  10.71% {
    top: 10%;
    left: 80%;
  }

  14.28% {
    top: 20%;
    left: 90%;
  }

  17.85% {
    top: 30%;
    left: 95%;
  }

  21.42% {
    top: 40%;
    left: 98%;
  }

  24.99% {
    top: 50%;
    left: 100%;
  }

  28.56% {
    top: 60%;
    left: 98%;
  }

  32.13% {
    top: 70%;
    left: 95%;
  }

  35.7% {
    top: 80%;
    left: 90%;
  }

  39.27% {
    top: 90%;
    left: 80%;
  }

  42.84% {
    top: 95%;
    left: 70%;
  }

  46.41% {
    top: 98%;
    left: 60%;
  }

  49.98% {
    top: 100%;
    left: 50%;
  }

  53.55% {
    top: 98%;
    left: 40%;
  }

  57.12% {
    top: 95%;
    left: 30%;
  }

  60.69% {
    top: 90%;
    left: 20%;
  }

  64.26% {
    top: 80%;
    left: 10%;
  }

  67.83% {
    top: 70%;
    left: 5%;
  }

  71.4% {
    top: 60%;
    left: 2%;
  }

  74.97% {
    top: 50%;
    left: 0;
  }

  78.54% {
    top: 40%;
    left: 2%;
  }

  82.11% {
    top: 30%;
    left: 5%;
  }

  85.68% {
    top: 20%;
    left: 10%;
  }

  89.25% {
    top: 10%;
    left: 20%;
  }

  92.82% {
    top: 5%;
    left: 30%;
  }

  96.39% {
    top: 2%;
    left: 40%;
  }

  100% {
    top: 0;
    left: 50%;
  }
}