@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*, ::before, ::after {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

html {
  font-size: 1px;
}

.block-inf {
  max-width: 1220px;
  margin: 0 auto;
}

.block-inf__text {
  text-align: center;
}

.block-inf__title, .block-inf__advantage, .block-inf__part, .block-inf__decriptions {
  font-family: "Montserrat", sans-serif;
}

.block-inf__title {
  color: #E31E24;
  font: 700 40px/48.76px sans-serif;
  margin-bottom: 20px;
}

.block-inf__title-bcolor {
  color: #2753A2;
}

.block-inf__advantage, .block-inf__part, .block-inf__decriptions {
  font-weight: 500;
}

.block-inf__advantage {
  max-width: 773px;
  color: #222;
  font-size: 26px;
  line-height: 31.2px;
  margin: 0 auto 65px;
}

.block-inf__types {
  display: flex;
}

.block-inf__item {
  width: 390px;
  min-height: 473px;
  padding: 50px 20px 30px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 4px 0 #00000040;
}

.block-inf__img {
  width: 80px;
  margin-bottom: 20px;
}

.block-inf__part {
  color: #2753A2;
  margin-bottom: 10px;
}

.block-inf__decriptions {
  color: #222;
}

.block-inf__item:nth-child(1) .block-inf__part {
  font-size: 26em;
  line-height: 1.22em;
}

.block-inf__item:nth-child(1) .block-inf__decriptions {
  font-size: 20em;
  line-height: 1.4em;
}

.block-inf__item:nth-child(2) {
  margin: 0 24px;
}

.block-inf__item:nth-child(2) .block-inf__part {
  font-size: 26rem;
  line-height: 31.69rem;
}

.block-inf__item:nth-child(2) .block-inf__decriptions {
  font-size: 20rem;
  line-height: 28rem;
}

.block-inf__item:nth-child(3) .block-inf__part {
  font-size: 26px;
  line-height: 31.69px;
}

.block-inf__item:nth-child(3) .block-inf__decriptions {
  font-size: 20px;
  line-height: 28px;
}